*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(101, 100, 100);
}

.imagenes {
    display: flex;
    padding-top: 50px;
    flex-wrap: wrap
}

.imagenes img{
    height: 500px;
    width: 300px;
    margin: 5px;
}

.img1{
    justify-content: center;
    display: flex;
    background-image: url("./img/1.jpg");
    height: 500px;
    width: 300px;
    margin: 5px;
}

.img1 p {
    display: flex;
    padding: 10px;
    align-items: center;
    color: brown;
    font-size: 20px;
}